.notFoundPage {
   width: 98%;
   height: 75%;
   margin: .75em auto;
   display: flex;
   flex-direction: column;

}

.notFoundPage__Title {
   margin-top: .5em;
   font-size: 8rem;
   letter-spacing: 34px;
   text-align: center;
   text-shadow: 7px 3px 7px #6e6c6a;
}

.notFoundPage__subTitle {
   font-size: 1.5rem;
   font-weight: 800;
   text-align: center;
}

.notFoundPage__description {
   width: 45%;
   margin-top: .1em;
   margin-left: auto;
   margin-right: auto;
   font-size: 1.4rem;
   text-align: center;
}

.notFoundPage__button {
   width: 18%;
   margin-top: 1em;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   background-color: #444;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;

   transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -moz-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -ms-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-box-shadow: 0px 6px 0px #6e6c6a;
   -moz-box-shadow: 0px 6px 0px #6e6c6a;
   box-shadow: 0px 6px 0px #6e6c6a;
}

.notFoundPage__button:hover a {
   color: #EBC670;
   text-transform: capitalize;
}

.notFoundPage__button.btn-primary {
   background-color: #444 !important;
   border: 2px solid #444;
}

.notFoundPage__button.btn-primary:hover {
   background-color: #444 !important;
   border-color: #444 !important;
}

.notFoundPage__button:active {
   -webkit-box-shadow: 0px 2px 0px #6e6c6a;
   -moz-box-shadow: 0px 2px 0px #6e6c6a;
   box-shadow: 0px 2px 0px #6e6c6a;
   position: relative;
   top: 4px;
}

.notFoundPage__button a {
   padding: 10px;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 800;
   color: #ccc
}