.contactPage {
   margin: 3.5em auto;
   width: 50%;
   /* height: 60%; */
   border: 1px solid #444;
   -webkit-box-shadow: 0px 6px 0px #6e6c6a;
   -moz-box-shadow: 0px 6px 0px #6e6c6a;
   box-shadow: 0px 6px 0px #6e6c6a;
}

.contactPage__heading {
   margin-top: 1em;
   margin-bottom: .5em;
   font-size: 3rem;
   letter-spacing: 2px;
   text-align: center;
   text-transform: capitalize;
}

.contactPage Form {
   width: 80%;
   margin: 0 auto;
}

.contactPage input {
   width: 100%;
   height: 30px;
   margin-bottom: .25em;
   font-size: 1.25rem;

}

.contactPage__message {
   width: 100%;
   height: 50px;
   margin-bottom: .25em;
   font-size: 1.25rem;
}

.contactPage__button {
   display: block;
   height: 50px;
   width: 100%;
   margin-top: .75em;
   margin-bottom: 2em;
   font-size: 1.5rem;
   letter-spacing: 1px;
   background-color: #444;
   color: #ccc;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;

   transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -moz-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -ms-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-box-shadow: 0px 6px 0px #6e6c6a;
   -moz-box-shadow: 0px 6px 0px #6e6c6a;
   box-shadow: 0px 6px 0px #6e6c6a;
}

.contactPage__button:hover {
   color: #EBC670;
   text-transform: capitalize;
   letter-spacing: 2px;
}

.contactPage__button:active {
   -webkit-box-shadow: 0px 2px 0px #6e6c6a;
   -moz-box-shadow: 0px 2px 0px #6e6c6a;
   box-shadow: 0px 2px 0px #6e6c6a;
   position: relative;
   top: 4px;
}

.contactPage__button:disabled {
   background-color: #babcbe !important;
   color: #444 !important;
   opacity: 0.6;
   cursor: not-allowed;
   pointer-events: none;
}

.contactPage span {
   display: block;
   width: 100%;
   height: 15px;
   margin-bottom: .5em;
   color: rgb(245, 41, 41);
   font-size: .75rem;
   font-weight: 800;
}