.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 90;
   width: 100vw;
   height: 60px;
   background-color: #444;
}

/* .navbar__navigation {
   width: 100%;
   height: 100%;
   display: flex;
   align-content: center;
   padding: 0 1em;
} */


.header__brand {
   display: flex;
   justify-items: center;
   align-items: center;
   margin-left: .3em;
   margin-left: .5em;
   margin-left: 3.2em;
   /* color: #EBC670; */
   color: #ccc;
   /* font-family: monospace; */
   font-size: 1.5rem;
   text-decoration: none;
   transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -moz-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -ms-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__brand:focus,
.header__brand:hover,
.header__brand:active {
   padding-bottom: 2px;
   color: #EBC670;
   letter-spacing: 1px;
   transform: scale(.9);
   -webkit-transform: scale(.9);
   -moz-transform: scale(.9);
   -ms-transform: scale(.9);
   -o-transform: scale(.9);
}


.header__navigation {
   width: 100%;
   height: 100%;
   display: flex;
   align-content: center;
   padding: 0 1em;
}

.navbar__spacer {
   flex: 8;

}

.header__list {
   height: 100%;
   /* margin-left: 2em; */
   margin-left: 6em;
   display: flex;
   align-content: center;
   justify-content: center;
}

.header__items {
   width: 100%;
   margin-left: 2em;
   margin-right: auto;
   padding: .3em 0.667em;
   list-style: none;
   display: flex;
   align-self: center;
   color: #ccc;
   font-size: 1.2rem;
   text-decoration: none;
   transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -webkit-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -moz-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -ms-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
   -o-transition: all .33s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__items:hover,
.header__items:focus,
.header__items:active {
   color: #EBC670;
   border-bottom: 1px solid #EBC670;
   transform: scale(.9);
   -webkit-transform: scale(.9);
   -moz-transform: scale(.9);
   -ms-transform: scale(.9);
   -o-transform: scale(.9);
}